body {
    margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 
 .container{
   width: 100%;
   height: 100vh;
   background:rgb(240, 241, 243);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
 }
 
 .counter-machine{
   width: 50%;
   height: 70%;
   background-color: white;
   box-shadow: 5px 5px 25px -5px black;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 
 h1{
   color: grey;
   background: transparent;
   font-size: 50px;
   background-color: whitesmoke;
   padding: 6px 0 2px 0;
   margin-bottom: 10px;
   width: 10rem;
   box-shadow: 5px 5px 5px lightgray;
   border-radius: 10px;
 }
 
 h2{
   color:darkgray;
   background: transparent;
   font-size: 2.5rem;
 }
 
 button{
   min-height: 40px;
   border-radius: 10px;
   background-color: whitesmoke;
   border-color: darkturquoise;
   color: rgb(130, 123, 123);
   font-size: 15px;
   border: none;
   outline: none;
   padding: 0 15px;
   margin-top:30px;
   box-shadow: 5px 5px 8px -5px rgb(187, 185, 185);
   font-weight: lighter;
 }
 
 .inc-dec-btn{
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
 }
 
 input {
   border-radius: 1rem;
   padding: 0.6rem;
   outline: none;
   border: none;
   font-size: 1.5rem;
   background-color: rgba(197, 191, 191, 0.849);
   color:white;
 }